@import "tailwindcss";



div.footer{
    background: 
    linear-gradient(#000000ab, #030303f6),
   
    radial-gradient(circle, #1b1b1b 0% 20%, #ffffff00 20%) center /20px 20px,
    linear-gradient(45deg,transparent 0% 45%,#1b1b1b 45% 55% ,#ff000000 55%) center / 20px 20px , 
    linear-gradient(-45deg, transparent 0% 45%, #444444 45% 55%, #ff000000 55%) center / 20px 20px,
    linear-gradient(#000000 ,#030303)
    ;
}


.active{
    background-color: white;
    /* padding: 5px 15px; */
    color: #000000;
    border-radius: 7px;
}
.chars{
    display: inline-block;
}
/* svg path{
    transform-box: fill-box !important;
    transform-origin: center center;
    transition: transform 0.2s;

} */

.container-sm{
    @apply px-6 md:px-15 lg:px-22 sm:px-10;
}